ipykernel
python-dotenv
pydantic
huggingface_hub
nbformat

# llm
openai
langchain
langgraph
langchain_openai
langchain_community
langchain-tavily
langchain_qdrant
sentence-transformers

# db
qdrant-client

# view
flask